/* 120 pixels in height
Full width of the viewport
#4056A1 as its default background colour
#FFFFF as its default font colour
<span> within the <nav> uses Bungee as its default font-family
1.5ems of space on the right and left between the content and the edges */


nav {
    height: 120px;
    color: #fff;
    background-color: #4056A1;
    flex-direction: row;
}


.tweeter {
    font-family: bungee, sans-serif;
    padding: 1.5em;


}

.writeButton {
    float: right;
    font-family: sans-serif;
    padding-right: 1.5em;

    
}

